# RSS feed URL
RSS.Feed = https://www.reddit.com/r/news.rss
RSS.Property = User-Agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML\\, like Gecko) Chrome/60.0.3112.113 Safari/537.36
RSS.Property = Accept = application/xml
RSS.Property = Accept-Charset = UTF-8

#Enter the amount of coins you currently have so the dashboard can show your profit based on current prices
Bitcoin.Qty = 1.12
Ethereum.Qty = 0.0
Litecoin.Qty = 0.0

#Enter the amount of money you spent on all the coins listed above combined for the dashboard to show profit
Coins.TotalCost = 8400.00
