# RSS feed URL
RSS.Feed = https://www.reddit.com/r/news.rss
RSS.Property = User-Agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML\\, like Gecko) Chrome/60.0.3112.113 Safari/537.36
RSS.Property = Accept = application/xml
RSS.Property = Accept-Charset = UTF-8

# Coin price order
# The first entry is the one that goes in the center of the screen
# Main Coin (BTC, ETH, LTC) (This is the only coin where price change since yesterday is shown)
Coin.Symbols = BTC, ETH, LTC
Coin.Names = BITCOIN, ETHEREUM, LITECOIN
# The amount of coins you currently have so the dashboard can show your profit based on current prices
Coin.Quantities = 1.12, 0, 0

# Enter the amount of money you spent on all the coins listed above combined for the dashboard to show profit
Coins.TotalCost = 8400.00
