<?xml version="1.0" encoding="ISO-8859-1" ?>
<Dashboard-definition>
  <RSS>
    <URL>https://www.reddit.com/r/news.rss</URL>
    <Property Key="Accept" Value="application/xml" />
    <Property Key="Accept-Charset" Value="UTF-8" />
    <Property Key="User-Agent" Value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.113 Safari/537.36" />
  </RSS>
  <Coins>
    <Coin Symbol="BTC" Name="BITCOIN" Qty="0" Cost="0"/>
    <Coin Symbol="ETH" Name="ETHEREUM" Qty="0" Cost="0"/>
    <Coin Symbol="LTC" Name="LITECOIN" Qty="0" Cost="0"/>
  </Coins>
</Dashboard-definition>
