<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

<!--
	<appender name="HTMLOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>DashboardLog.html</file>
		<append>true</append>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.html.HTMLLayout">
				<pattern>%d%level%logger%msg</pattern>
			</layout>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>DashboardLog.%i.html.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10KB</maxFileSize>
		</triggeringPolicy>
	</appender>
-->

	<logger name="org.apache.commons.beanutils" level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
<!--
		<appender-ref ref="HTMLOUT" />
-->
	</root>
</configuration>
